$nav-background: darken(#fff, 50%);
$nav-link-color: darken(#fff, 20%);

nav.navbar{
  background-color: $nav-background;

    a {
      color: $nav-link-color;
    }

    li.active, li a:hover, li a:active, li a:focus, li.open a:focus {
      background-color: lighten($nav-background, 15%);
    }

    li{
      ul{
        background-color: $nav-background;
      }
    }
}
